Cordoba/dataset/
Chaco/dataset/
Chubut/dataset/
Misiones/dataset/
Neuquen/dataset/
Rio Negro/dataset/
San Juan/dataset/
Corrientes/dataset/
Jujuy/dataset/
Mendoza/dataset/
Mendoza/dataset2/
La Pampa/dataset
Catamarca/dataset
La rioja/dataset
Santa Cruz/dataset
dataset/
# .env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*